.listing-wrapper {
    margin-bottom: 50px;
}

.paging {
    text-align: center;
}

.paging span {
    cursor: pointer;
    color: blue;
    text-decoration: underline;
    margin: 0 20px;
}

#new-hacker tbody tr {
    cursor: pointer;
}

#new-hacker tbody tr:hover {
    background-color: #dedede;
}

.main-item {
    max-width: 800px;
    margin: 30px auto 0 auto;
    border: 1px solid #dedede;
    padding: 10px 20px;
    font-size: 20px;
}

.main-item .url {
    margin-left: 10px;
    color: #8b8b8b;
    font-size: 13px;
}

.main-item .url a {
    color: #8b8b8b;
}

.main-item .title {
    font-weight: 700;
}

.main-item .description {
    color: #8b8b8b;
    font-size: 11px;
}

.comment-section {
    max-width: 800px;
    margin: 50px auto 0 auto;
    word-break: break-word;
}

.comment-section h4 {
    margin-bottom: 30px;
}

.comment-wrapper {
    border: 1px solid #dedede;
    margin-bottom: 50px;
}

.comment-box {
    padding: 20px;
}

.comment-box.main {
    padding: 20px 35px;
}

.comment-box.main:nth-child(odd) {
    background-color: #bbbbbb;
}

.comment-box.main:nth-child(even) {
    background-color: #dedede;
}

.comment-box .name {
    font-weight: 700;
    font-size: 18px;
    position: relative;
}

.comment-box .minimize,
.comment-box .maximize {
    position: absolute;
    left: -30px;
    top: 0;
    cursor: pointer;
}

.comment-box .hidden {
    display: none;
}

.comment-box .name span {
    font-weight: initial;
    font-size: 11px;
}

.comment-box.indent {
    padding: 0;
    margin-bottom: 20px;
}

.comment-box.indent-1 {
    margin-left: 20px;
}

.comment-box.indent-2 {
    margin-left: 40px;
}